<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="interval" value="1"/>
	</appSettings>

	<connectionStrings>
		<add name="iMDirectory" connectionString="Persist Security Info=False;Integrated Security=SSPI;database=iMDirectory;server=WIN-TK7VVQF2IT3;Connect Timeout=120"/>
	</connectionStrings>
	<startup> 
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
